NITRO_HOST=0.0.0.0
NITRO_PORT=3000

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=project_x_db_dev
DB_USERNAME=nuxt
DB_PASSWORD=passrord

DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}
